name: Deploy

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: cd app && npm install

      - name: Run tests
        run: cd app && npm test

  build_images:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}

      - name: Build and push Docker image
        run: |
          docker build -t gcossi/gitlab-cicd-node:1.0 .
          docker push gcossi/gitlab-cicd-node:1.0

  deploy_dev:
    needs: build_images
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Dev
        run: |
          docker run -d --name nodeapp -p 3000:3000 gcossi/gitlab-cicd-node:1.0
