name: Deploy

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: cd app && npm install

      - name: Run tests
        run: cd app && npm test

  build_images:
    stage: build
    needs:
      - test
    image: docker:20.10.16
    services:
      - docker:20.10.16-dind
    
    variables:
      DOCKER_TLS_CERTDIR: "/certs"
    
    before_script:
      - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
    
    script:
      - docker build -t denilsonbonatti/gitlab-cicd-node:1.0 .
      - docker push denilsonbonatti/gitlab-cicd-node:1.0

  deploy_dev:
    stage: deploy
    needs:
      - build_images
    tags:
      - gcp
    script:
      - docker run -d --name nodeapp -p 3000:3000 denilsonbonatti/gitlab-cicd-node:1.0
